version: "3.9"

services:
  app:
    image: tkddmskr/odegano-ai-server:latest
    container_name: odegano-ai-server
    restart: unless-stopped
    env_file:
      - .env
    expose:
      - "80"
    networks:
      - odegano

  nginx:
    image: nginx:stable-alpine
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    restart: unless-stopped
    networks:
      - odegano

networks:
  odegano:
    driver: bridge
